{% extends 'base.html' %}
{% block content %}
<title>Kittygram</title>
{% if current_user.is_authenticated %}
<p> <!-- TODO: move this to navbar and add profile button -->
    {% if not current_user.confirmed %}
    <b>We have sent you an email. Please confirm your account.</b>
    {% endif %}
</p>
{% endif %}

{% if current_user.is_authenticated %}
<a class="btn btn-warning btn-lg" role="button" href="{{ url_for('main.upload')}}">Upload</a>
{% endif %}

<h1>Posts</h1>

<div id="posts">    
</div>

<script src="../static/jquery.min.js"></script>
<script type="module" src="../static/home.js"></script>
{% endblock %}