<div class="post-container card border-primary mb-3" data-post-id="{{ post.id }}" style="width: 25rem;">
    <div class="card-header">
        <b>{{ author.username }}</b>
    </div>
    <img src="/static/images/{{ post.img_filename }}" class="card-img-top" style="max-height: 30rem; object-fit: contain;">
    <div class="card-body">
        <h3 class="card-title">{{ post.text }}</h3>
        <p class="card-text"><small class="text-muted">{{ post.timestamp.strftime("%A, %d. %B %Y %I:%M%p") }}</small></p>
        <button type="button" class="like-btn btn btn-danger">
            Like <span class="like-count badge badge-light">0</span>
        </button>
    </div>
</div>
